/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    color: black;
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    padding-top: 113px;
}

/* Header */
#header {
    text-align: right;
    padding: 0 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #deb887;
    z-index: 99;
    box-shadow: 0px 5px 8px 2px #3a3a3a;
    position: fixed;
    top: 0;
    background: url(../images/vintage-concrete.webp);
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    display: block;
    padding: 10px;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: relative;
    width: 100%;
    padding: 0;
    display: none;
    background-color: inherit;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    display: contents;
}

/* Main */
#main {
    background: url(../images/ricepaper-v3.webp);
}

main h2 {
    text-align: center;
}

h3 {
    padding-top: 20px;
}

/* Solution found on Stack Overflow for preventing header from overlapping content */
.section {
    border-top: 113px solid transparent;
    margin-top: -113px;
    padding: 30px 10px 30px;
}

/* Introduction */

#intro {
    padding: 30px 20px 20px;
}

#intro h2 {
    text-align: center;
}

/* Newsletter section */

#newsletter {
    text-align: center;
}

#newsletter h4 {
    padding: 20px 0 20px;
}

.formgrid>div {
    padding-top: 20px;
}

.text-input {
    padding: 0 5px;
    margin: 10px 0 10px 0;
    display: inline-block;
}

label {
    display: inline-block;
    clear: right;
    width: 120px;
    text-align: right;
}

.join-button {
    margin-top: 10px;
}

/* Signup page styles */

.signupbody {
    width: 100%;
    height: 100%;
    background: url(../images/ricepaper-v3.webp);
    text-align: center;
}

.signupbody img {
    width: 100vw;
    height: 100%;
}

/* Footer */
footer {
    position: sticky;
    bottom: 0;
    background: url(../images/vintage-concrete.webp);
    box-shadow: 0px -5px 12px #3a3a3a;
}

#social-networks {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Utility Classes */

/* Responsive Image Classes */

.responsive {
    height: auto;
    max-width: 100%;
    border: solid;
    box-shadow: 5px 5px 25px #3a3a3a;
}

.duelimage {
    height: auto;
    max-width: 100%;
    padding: 0 0 20px;
    text-align: center;
}

/* Text align classes */

.section p {
    margin: 20px auto;
}

.bio p {
    text-align: justify;
}

.bioright h2 {
    text-align: center;
}

.hleft {
    text-align: left;
}

.hright {
    text-align: right;
}

.bio ul {
    padding-left: 25px;
}

/* ---Media queries--- */

/* Media Queries: Tablets */
@media screen and (min-width: 800px) {

    /* Title */
    #logo {
        font-size: 300%;
    }

    /* Headers */

    h1,
    h3 {
        font-size: 160%;
    }

    h2 {
        font-size: 190%;
    }

    /* Menu */

    .nav-toggle-label {
        display: none;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    #menu {
        display: flex;
        flex-wrap: wrap;
    }

    /* Grid classes */
    .grid {
        display: grid;
        grid-template-columns: 25%;
        grid-template-rows: auto;
    }

    /* Biography */

    .bioleft {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .bioright {
        grid-column-start: 3;
        grid-column-end: 5;
        padding: 20px;
    }

    .biotwo {
        grid-row-start: 2;
        grid-column: span 4;
    }

    .gridleft {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1;
    }

    .gridright {
        grid-column-start: 2;
        grid-column-end: 5;
        padding: 20px;
        grid-row: span 2;
    }

    .rowtwo {
        grid-row: 2;
    }

    .rowthree {
        grid-row: 3;
    }

    /* Philosophy */

    .philleft {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
    }

    .philright {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row: 1;
        padding: 20px;
    }

    /* Pop culture */

    #pop-culture {
        display: grid;
        grid-template-columns: 25%;
    }

    #pop-culture>div {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row: 1;
        padding: 20px;
    }

    #pop-culture img {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 1;
    }

    /* Signup form */

    .formgrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .formgrid img {
        display: block;
        max-width: 100%;
    }

    #form { 
        grid-area: 1 / 2 / 2 / 4; 
        padding: 20px;
        align-self: center;
    }

    .form1 { 
        grid-area: 1 / 1 / 2 / 2; 
    }

    .form2 { 
        grid-area: 1 / 4 / 2 / 5; 
    }
}

/* Media Queries: Laptops & Desktops */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

@media screen and (max-width: 1009px) {
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 60px;
    }

}

@media screen and (max-width: 799px) {
    main {
        /* Undo above rule pushing content down */
        margin-top: 0px;
    }

}

@media screen and (max-width: 286px) {
    main {
        /* Push main content down on narrow screens to prevent header overlap */
        margin-top: 50px;
    }

}